[submodule "42curses/minishell"]
	path = 42curses/minishell
	url = https://github.com/achrafelkhnissi/minishell
[submodule "42curses/Born2beroot"]
	path = 42curses/Born2beroot
	url = https://github.com/achrafelkhnissi/Born2beroot
[submodule "42curses/libft"]
	path = 42curses/libft
	url = https://github.com/achrafelkhnissi/libft
[submodule "42curses/Philosophers"]
	path = 42curses/Philosophers
	url = https://github.com/achrafelkhnissi/Philosophers
[submodule "42curses/ft_printf"]
	path = 42curses/ft_printf
	url = https://github.com/achrafelkhnissi/ft_printf
[submodule "42curses/get_next_line"]
	path = 42curses/get_next_line
	url = https://github.com/achrafelkhnissi/get_next_line
[submodule "42curses/minitalk"]
	path = 42curses/minitalk
	url = https://github.com/achrafelkhnissi/minitalk
[submodule "42curses/push_swap"]
	path = 42curses/push_swap
	url = https://github.com/achrafelkhnissi/push_swap
[submodule "42curses/so_long"]
	path = 42curses/so_long
	url = https://github.com/achrafelkhnissi/so_long
[submodule "42curses/cub3d"]
	path = 42curses/cub3d
	url = https://github.com/achrafelkhnissi/cub3d
[submodule "42curses/CPP_Modules"]
	path = 42curses/CPP_Modules
	url = https://github.com/achrafelkhnissi/CPP_Modules
