[submodule "42curses/minishell"]
	path = 42curses/minishell
	url = https://github.com/achrafelkhnissi/minishell
[submodule "42curses/Born2beroot"]
	path = 42curses/Born2beroot
	url = https://github.com/achrafelkhnissi/Born2beroot
[submodule "42curses/libft"]
	path = 42curses/libft
	url = https://github.com/achrafelkhnissi/libft
[submodule "42curses/Philosophers"]
	path = 42curses/Philosophers
	url = https://github.com/achrafelkhnissi/Philosophers
[submodule "42curses/ft_printf"]
	path = 42curses/ft_printf
	url = https://github.com/achrafelkhnissi/ft_printf
[submodule "42curses/get_next_line"]
	path = 42curses/get_next_line
	url = https://github.com/achrafelkhnissi/get_next_line
